body {
	background-color: red;
	margin: 30;
}
.box {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
border: 1px solid black;
max-width: 600px;
font-size: 16px;
background-color: grey;
padding: 20px;
border-top: 5px solid black;
padding-top: 40px;
margin-left: 100px;
-webkit-border-radius: 5px 50px;
        border-radius: 5px 50px;		
}

img {
width: 50%;
}
