h1 {
	color:#00f;
	}
h2, .color_p {
	color: #CD0074
}
a:link {
	color: #fa0088;
}
a:visited {
	color: #f00;
}
a:hover {
	color: #000;
}
a:active {
	color: #0f0;
}

.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	font-family: impact;
}
p {
	font-family: arial, helvetica, sans-serif;
}
a {text-decoration: none;}
.through {
	text-decoration: line-through;
}
h1, .sup {
	text-transform: uppercase;
}
.letterspace {
	letter-spacing: 2px;
}
